<div class="show-container panel panel-default">
<h2> <%= @organization.name   %></h2>    <%= link_to "Back", @back %>
<div class="panel panel-info">
  <div class="panel-heading"><h3 class= "panel-title">Details</h3><%= link_to " ", edit_institution_detail_path(@organization.id), :class => "icon-link fa fa-pencil" %>

 </div>
    <div class="panel-body">
      <ul>
        <% if @organization.institution_detail.uk_urn > 0 %>
          <li> URN: <%= @organization.institution_detail.uk_urn %></li>
        <% end %>
        <% if @organization.institution_detail.institution_type.present? %>
          <li class="type"> Type: <%= @organization.institution_detail.institution_type %></li>
        <% end %>
        <li> Age range: <%= @organization.institution_detail.min_age %> - <%= @organization.institution_detail.max_age %> </li>
        <li> Status: <%= @organization.institution_detail.establishment_status %> </li>
      </ul>
    </div>
  </div>

<div class="panel panel-info">
  <div class="panel-heading"><h3 class= "panel-title">Staff</h3><%= link_to " ", organization_new_path(@organization.id), :class => "icon-link fa fa-plus-circle" %> </div>
  <div class="panel-body">
    <% @organization.posts.each do |p| %>
      <% if p.end_date == nil %>
        <p><%= p.person.title %> <%= p.person.first_name %> <%= p.person.last_name %>
          <% if p.job_title.present? %>
            <span class="label label-primary">
                <%= p.job_title %>
            </span>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h3 class= "panel-title">Edubase Headteacher</h3></div>
    <div class="panel-body">
      <div>
        <input type="hidden" class="organization-id" value="<%= @organization.id %>">
        <img id="loading" src="http://www.turismoinliguria.it/images/loader.gif" alt="">
      </div>
    </div>
  </div>
</div>
